<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.sanlux.app"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-permission android:name="android.permission.INTERNET" />



    <application
        android:name="com.sanlux.app.MainApplication"
        android:allowBackup="false"
        android:icon="@drawable/ic_launcher"
        tools:replace="android:allowBackup"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="5917aac7256eaefaa1bcf61f628d5eef" />

      <activity
          android:name="com.sanlux.app.MainActivity"
          android:launchMode="singleTask"
          android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
          android:theme="@style/Theme.ReactNative.AppCompat.Light.NoActionBar.FullScreen">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
      </activity>
      <activity android:name="com.facebook.react.devsupport.DevSettingsActivity" />
    </application>
</manifest>
