<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>modules</key>
	<dict>
		<key>@terminus/react-native-monitor-sdk</key>
		<dict>
			<key>android</key>
			<dict>
				<key>config</key>
				<dict>
					<key>artifact</key>
					<string>react-native-monitor-sdk</string>
					<key>subModules</key>
					<array>
						<dict/>
					</array>
				</dict>
				<key>mainclass</key>
				<array>
					<string>io.terminus.monitor.RNMobClickAgent</string>
				</array>
			</dict>
			<key>ios</key>
			<dict>
				<key>mainclass</key>
				<array>
					<string>RNMonitorConfig</string>
				</array>
			</dict>
		</dict>
		<key>@terminus/react-native-payments</key>
		<dict>
			<key>android</key>
			<dict>
				<key>config</key>
				<dict>
					<key>artifact</key>
					<string>rnpaybaselib</string>
					<key>dirs</key>
					<dict>
						<key>alipay</key>
						<string>/platforms/alipay/android/libs</string>
						<key>ccavenue</key>
						<string>/platforms/ccavenue/android/libs</string>
						<key>unify</key>
						<string>/platforms/unify/android/libs</string>
					</dict>
					<key>subModules</key>
					<array>
						<dict>
							<key>channel</key>
							<string>alipay</string>
							<key>name</key>
							<string>react-native-payments-alipay</string>
							<key>source</key>
							<string>/platforms/alipay/android</string>
						</dict>
						<dict>
							<key>channel</key>
							<string>ccavenue</string>
							<key>name</key>
							<string>react-native-payments-ccavenue</string>
							<key>source</key>
							<string>/platforms/ccavenue/android</string>
						</dict>
						<dict>
							<key>channel</key>
							<string>stripe</string>
							<key>name</key>
							<string>react-native-payments-stripe</string>
							<key>source</key>
							<string>/platforms/stripe/android</string>
						</dict>
						<dict>
							<key>channel</key>
							<string>unify</string>
							<key>name</key>
							<string>react-native-payments-unify</string>
							<key>source</key>
							<string>/platforms/unify/android</string>
						</dict>
						<dict>
							<key>channel</key>
							<string>union</string>
							<key>name</key>
							<string>react-native-payments-union</string>
							<key>source</key>
							<string>/platforms/union/android</string>
						</dict>
						<dict>
							<key>channel</key>
							<string>wechat</string>
							<key>name</key>
							<string>react-native-payments-wechat</string>
							<key>source</key>
							<string>/platforms/wechat/android</string>
						</dict>
					</array>
				</dict>
				<key>mainclass</key>
				<array>
					<string>com.mobilepay.pay.model.PayManager</string>
				</array>
			</dict>
			<key>ios</key>
			<dict>
				<key>mainclass</key>
				<array>
					<string>RNPaymentModule</string>
				</array>
			</dict>
		</dict>
		<key>@terminus/react-native-push</key>
		<dict>
			<key>android</key>
			<dict>
				<key>config</key>
				<dict>
					<key>artifact</key>
					<string>react-native-push</string>
					<key>subModules</key>
					<array>
						<dict>
							<key>channel</key>
							<string>alicloud</string>
							<key>name</key>
							<string>react-native-push-alicloud</string>
							<key>source</key>
							<string>/platforms/aliCloud/android</string>
						</dict>
						<dict>
							<key>channel</key>
							<string>umeng</string>
							<key>name</key>
							<string>react-native-push-umeng</string>
							<key>source</key>
							<string>/platforms/umeng/android</string>
						</dict>
						<dict>
							<key>channel</key>
							<string>firebase</string>
							<key>name</key>
							<string>react-native-push-firebase</string>
							<key>source</key>
							<string>/platforms/firebase/android</string>
						</dict>
					</array>
				</dict>
				<key>mainclass</key>
				<array>
					<string>com.rnpushalicloud.push.PushManager</string>
					<string>com.rnpushfirebase.push.PushManager</string>
					<string>com.rnpushumeng.push.PushManager</string>
				</array>
			</dict>
			<key>ios</key>
			<dict>
				<key>mainclass</key>
				<array>
					<string>RNPushManager</string>
				</array>
			</dict>
		</dict>
		<key>@terminus/react-native-social</key>
		<dict>
			<key>android</key>
			<dict>
				<key>config</key>
				<dict>
					<key>artifact</key>
					<string>react-native-social</string>
					<key>dirs</key>
					<dict>
						<key>qq</key>
						<string>/platforms/qq/android/libs</string>
					</dict>
					<key>subModules</key>
					<array>
						<dict>
							<key>channel</key>
							<string>qq</string>
							<key>name</key>
							<string>react-native-social-qq</string>
							<key>source</key>
							<string>/platforms/qq/android</string>
						</dict>
						<dict>
							<key>channel</key>
							<string>wechat</string>
							<key>name</key>
							<string>react-native-social-wechat</string>
							<key>source</key>
							<string>/platforms/wechat/android</string>
						</dict>
						<dict>
							<key>channel</key>
							<string>sina</string>
							<key>name</key>
							<string>react-native-social-sina</string>
							<key>source</key>
							<string>/platforms/sina/android</string>
						</dict>
						<dict>
							<key>channel</key>
							<string>google</string>
							<key>name</key>
							<string>react-native-social-google</string>
							<key>source</key>
							<string>/platforms/google/android</string>
						</dict>
						<dict>
							<key>channel</key>
							<string>facebook</string>
							<key>name</key>
							<string>react-native-social-facebook</string>
							<key>source</key>
							<string>/platforms/facebook/android</string>
						</dict>
						<dict>
							<key>channel</key>
							<string>twitter</string>
							<key>name</key>
							<string>react-native-social-twitter</string>
							<key>source</key>
							<string>/platforms/twitter/android</string>
						</dict>
					</array>
				</dict>
				<key>mainclass</key>
				<array>
					<string>com.terminus.social.base.TerminusSocialManager</string>
				</array>
			</dict>
			<key>ios</key>
			<dict>
				<key>mainclass</key>
				<array>
					<string>TerminusSocialManager</string>
				</array>
			</dict>
		</dict>
		<key>@terminus/react-native-tms</key>
		<dict>
			<key>android</key>
			<dict>
				<key>config</key>
				<dict>
					<key>artifact</key>
					<string>react-native-tms</string>
				</dict>
				<key>mainclass</key>
				<array/>
			</dict>
			<key>ios</key>
			<dict>
				<key>mainclass</key>
				<array/>
			</dict>
		</dict>
	</dict>
	<key>nconfig</key>
	<dict>
		<key>privicys</key>
		<array>
			<string>camera</string>
			<string>microphone</string>
			<string>calendar</string>
		</array>
		<key>queriesSchemes</key>
		<array>
			<string>wechat</string>
			<string>weixin</string>
			<string>weixinULAPI</string>
			<string>mqqapi</string>
			<string>mqq</string>
			<string>mqqOpensdkSSoLogin</string>
			<string>mqqopensdkdataline</string>
			<string>sinaweibohd</string>
			<string>sinaweibo</string>
			<string>sinaweibosso</string>
			<string>weibosdk</string>
			<string>weibosdk2.5</string>
			<string>weibosdk3.3</string>
			<string>alipay</string>
			<string>alipayshare</string>
			<string>uppaysdk</string>
			<string>uppaywallet</string>
			<string>uppayx1</string>
			<string>uppayx2</string>
			<string>uppayx3</string>
			<string>mqqconnect</string>
			<string>mqqopensdkgrouptribeshare</string>
			<string>mqqopensdkfriend</string>
			<string>mqqopensdkapi</string>
			<string>mqqopensdkapiV2</string>
			<string>mqqopensdkapiV4</string>
			<string>mqzoneopensdk</string>
			<string>mqqwpa</string>
			<string>mqzone</string>
			<string>mqzonev2</string>
			<string>mqzoneshare</string>
			<string>mqzonewx</string>
			<string>mqzoneopensdkapiV2</string>
			<string>mqzoneopensdkapi19</string>
			<string>mqzoneopensdkapi</string>
			<string>mqqopensdkavatar</string>
			<string>mqqopensdkminiapp</string>
			<string>fbapi</string>
			<string>fbapi20130214</string>
			<string>fbapi20130410</string>
			<string>fbapi20130702</string>
			<string>fbapi20131010</string>
			<string>fbapi20131219</string>
			<string>fbapi20140410</string>
			<string>fbapi20140116</string>
			<string>fbapi20150313</string>
			<string>fbapi20150629</string>
			<string>fbapi20160328</string>
			<string>fbauth</string>
			<string>fb-messenger-share-api</string>
			<string>fbauth2</string>
			<string>fbshareextension</string>
		</array>
		<key>schems</key>
		<array/>
	</dict>
	<key>tms</key>
	<dict>
		<key>production</key>
		<dict>
			<key>channel</key>
			<dict>
				<key>alicloud</key>
				<dict>
					<key>appKey</key>
					<string>29303958</string>
					<key>appSecret</key>
					<string>1dffc40183695191d559218daf65979e</string>
				</dict>
				<key>alipay</key>
				<dict>
					<key>appId</key>
					<string>20180423025943211</string>
				</dict>
				<key>qq</key>
				<dict>
					<key>appId</key>
					<string>1106536970</string>
					<key>secret</key>
					<string>5f52e15fd9db896175140a57d26bc2c1</string>
				</dict>
				<key>sina</key>
				<dict>
					<key>appId</key>
					<string>1035054353</string>
					<key>redirect</key>
					<string>https://api.weibo.com/oauth2/default.html</string>
					<key>universalLink</key>
					<string>https://m-gaia-test.app.terminus.io</string>
				</dict>
				<key>wechat</key>
				<dict>
					<key>appId</key>
					<string>wxf37ec75a85dd97a5</string>
					<key>secret</key>
					<string>b8a4e224953ab2f921401a4cbe95d596</string>
					<key>universalLink</key>
					<string>https://m-gaia-test.app.terminus.io</string>
				</dict>
			</dict>
			<key>dependencies</key>
			<dict>
				<key>@terminus/analytics</key>
				<dict>
					<key>subspecs</key>
					<array>
						<string>qq</string>
						<string>wechat</string>
						<string>alipay</string>
						<string>sina</string>
						<string>alicloud</string>
					</array>
				</dict>
				<key>@terminus/designer</key>
				<dict>
					<key>subspecs</key>
					<array>
						<string>qq</string>
						<string>wechat</string>
						<string>alipay</string>
						<string>sina</string>
						<string>alicloud</string>
					</array>
				</dict>
				<key>@terminus/eevee</key>
				<dict>
					<key>subspecs</key>
					<array>
						<string>qq</string>
						<string>wechat</string>
						<string>alipay</string>
						<string>sina</string>
						<string>alicloud</string>
					</array>
				</dict>
				<key>@terminus/eevee-client-engine-react</key>
				<dict>
					<key>subspecs</key>
					<array>
						<string>qq</string>
						<string>wechat</string>
						<string>alipay</string>
						<string>sina</string>
						<string>alicloud</string>
					</array>
				</dict>
				<key>@terminus/eevee-react-native-components</key>
				<dict>
					<key>subspecs</key>
					<array>
						<string>qq</string>
						<string>wechat</string>
						<string>alipay</string>
						<string>sina</string>
						<string>alicloud</string>
					</array>
				</dict>
				<key>@terminus/mall-base</key>
				<dict>
					<key>subspecs</key>
					<array>
						<string>qq</string>
						<string>wechat</string>
						<string>alipay</string>
						<string>sina</string>
						<string>alicloud</string>
					</array>
				</dict>
				<key>@terminus/mall-utils</key>
				<dict>
					<key>subspecs</key>
					<array>
						<string>qq</string>
						<string>wechat</string>
						<string>alipay</string>
						<string>sina</string>
						<string>alicloud</string>
					</array>
				</dict>
				<key>@terminus/nusi-mobile</key>
				<dict>
					<key>subspecs</key>
					<array>
						<string>qq</string>
						<string>wechat</string>
						<string>alipay</string>
						<string>sina</string>
						<string>alicloud</string>
					</array>
				</dict>
				<key>@terminus/octopus-adapter-alipay</key>
				<dict>
					<key>subspecs</key>
					<array>
						<string>qq</string>
						<string>wechat</string>
						<string>alipay</string>
						<string>sina</string>
						<string>alicloud</string>
					</array>
				</dict>
				<key>@terminus/octopus-adapter-wx</key>
				<dict>
					<key>subspecs</key>
					<array>
						<string>qq</string>
						<string>wechat</string>
						<string>alipay</string>
						<string>sina</string>
						<string>alicloud</string>
					</array>
				</dict>
				<key>@terminus/octopus-core</key>
				<dict>
					<key>subspecs</key>
					<array>
						<string>qq</string>
						<string>wechat</string>
						<string>alipay</string>
						<string>sina</string>
						<string>alicloud</string>
					</array>
				</dict>
				<key>@terminus/octopus-hooks</key>
				<dict>
					<key>subspecs</key>
					<array>
						<string>qq</string>
						<string>wechat</string>
						<string>alipay</string>
						<string>sina</string>
						<string>alicloud</string>
					</array>
				</dict>
				<key>@terminus/octopus-router</key>
				<dict>
					<key>subspecs</key>
					<array>
						<string>qq</string>
						<string>wechat</string>
						<string>alipay</string>
						<string>sina</string>
						<string>alicloud</string>
					</array>
				</dict>
				<key>@terminus/octopus-shared</key>
				<dict>
					<key>subspecs</key>
					<array>
						<string>qq</string>
						<string>wechat</string>
						<string>alipay</string>
						<string>sina</string>
						<string>alicloud</string>
					</array>
				</dict>
				<key>@terminus/react-imageview</key>
				<dict>
					<key>subspecs</key>
					<array>
						<string>qq</string>
						<string>wechat</string>
						<string>alipay</string>
						<string>sina</string>
						<string>alicloud</string>
					</array>
				</dict>
				<key>@terminus/react-native-appinfo</key>
				<dict>
					<key>subspecs</key>
					<array>
						<string>qq</string>
						<string>wechat</string>
						<string>alipay</string>
						<string>sina</string>
						<string>alicloud</string>
					</array>
				</dict>
				<key>@terminus/react-native-appupdate</key>
				<dict>
					<key>subspecs</key>
					<array>
						<string>qq</string>
						<string>wechat</string>
						<string>alipay</string>
						<string>sina</string>
						<string>alicloud</string>
					</array>
				</dict>
				<key>@terminus/react-native-code-scanner</key>
				<dict>
					<key>subspecs</key>
					<array>
						<string>qq</string>
						<string>wechat</string>
						<string>alipay</string>
						<string>sina</string>
						<string>alicloud</string>
					</array>
				</dict>
				<key>@terminus/react-native-cookies</key>
				<dict>
					<key>subspecs</key>
					<array>
						<string>qq</string>
						<string>wechat</string>
						<string>alipay</string>
						<string>sina</string>
						<string>alicloud</string>
					</array>
				</dict>
				<key>@terminus/react-native-image-picker</key>
				<dict>
					<key>subspecs</key>
					<array>
						<string>qq</string>
						<string>wechat</string>
						<string>alipay</string>
						<string>sina</string>
						<string>alicloud</string>
					</array>
				</dict>
				<key>@terminus/react-native-monitor-sdk</key>
				<dict>
					<key>args</key>
					<dict/>
					<key>subspecs</key>
					<array>
						<string>qq</string>
						<string>wechat</string>
						<string>alipay</string>
						<string>sina</string>
						<string>alicloud</string>
					</array>
				</dict>
				<key>@terminus/react-native-octopus</key>
				<dict>
					<key>subspecs</key>
					<array>
						<string>qq</string>
						<string>wechat</string>
						<string>alipay</string>
						<string>sina</string>
						<string>alicloud</string>
					</array>
				</dict>
				<key>@terminus/react-native-payments</key>
				<dict>
					<key>subspecs</key>
					<array>
						<string>qq</string>
						<string>wechat</string>
						<string>alipay</string>
						<string>sina</string>
						<string>alicloud</string>
					</array>
				</dict>
				<key>@terminus/react-native-push</key>
				<dict>
					<key>subspecs</key>
					<array>
						<string>qq</string>
						<string>wechat</string>
						<string>alipay</string>
						<string>sina</string>
						<string>alicloud</string>
					</array>
				</dict>
				<key>@terminus/react-native-screen-tool</key>
				<dict>
					<key>subspecs</key>
					<array>
						<string>qq</string>
						<string>wechat</string>
						<string>alipay</string>
						<string>sina</string>
						<string>alicloud</string>
					</array>
				</dict>
				<key>@terminus/react-native-social</key>
				<dict>
					<key>args</key>
					<dict/>
					<key>subspecs</key>
					<array>
						<string>qq</string>
						<string>wechat</string>
						<string>alipay</string>
						<string>sina</string>
						<string>alicloud</string>
						<string>apple</string>
					</array>
				</dict>
				<key>@terminus/react-native-tms</key>
				<dict>
					<key>subspecs</key>
					<array>
						<string>qq</string>
						<string>wechat</string>
						<string>alipay</string>
						<string>sina</string>
						<string>alicloud</string>
					</array>
				</dict>
				<key>@terminus/react-navigation</key>
				<dict>
					<key>subspecs</key>
					<array>
						<string>qq</string>
						<string>wechat</string>
						<string>alipay</string>
						<string>sina</string>
						<string>alicloud</string>
					</array>
				</dict>
				<key>@terminus/rn-debug</key>
				<dict>
					<key>subspecs</key>
					<array>
						<string>qq</string>
						<string>wechat</string>
						<string>alipay</string>
						<string>sina</string>
						<string>alicloud</string>
					</array>
				</dict>
				<key>@terminus/site-manager</key>
				<dict>
					<key>subspecs</key>
					<array>
						<string>qq</string>
						<string>wechat</string>
						<string>alipay</string>
						<string>sina</string>
						<string>alicloud</string>
					</array>
				</dict>
			</dict>
			<key>privicyist</key>
			<array>
				<string>camera</string>
				<string>microphone</string>
				<string>calendar</string>
			</array>
			<key>privicys</key>
			<dict>
				<key>bluetooth</key>
				<string>我们需要您的同意,才能访问蓝牙</string>
				<key>calendar</key>
				<string>我们需要您的同意,才能访问日历</string>
				<key>camera</key>
				<string>我们将使用您的相机扫描二维码，条形码，以及视频通讯的的服务</string>
				<key>contact</key>
				<string>我们需要您的同意,才能访问通讯录</string>
				<key>health_share</key>
				<string>我们需要您的同意,才能访问健康更新</string>
				<key>health_update</key>
				<string>我们需要您的同意,才能访问健康更新</string>
				<key>location</key>
				<string>我们将使用您的位置信息以提供更好的服务</string>
				<key>location_alwaysAndWhenInUse</key>
				<string>我们将使用您的位置信息以提供更好的服务</string>
				<key>location_whenInUse</key>
				<string>我们将使用您的位置信息以提供更好的服务</string>
				<key>media</key>
				<string>我们需要您的同意,才能访问媒体资料库</string>
				<key>microphone</key>
				<string>我们将使用麦克风方便和客服描述问题</string>
				<key>motion</key>
				<string>我们需要您的同意,才能访问运动使用</string>
				<key>photo</key>
				<string>我们将使用您的相册上传个人照片或识别相册图片提供更便捷的查询服务</string>
				<key>reminder</key>
				<string>我们需要您的同意,才能访问提醒事项</string>
				<key>siri</key>
				<string>我们需要您的同意,才能访问Siri</string>
				<key>speech</key>
				<string>我们需要您的同意,才能访问语音识别</string>
			</dict>
			<key>queriesSchemes</key>
			<array>
				<string>uppaysdk</string>
				<string>uppaywallet</string>
				<string>uppayx1</string>
				<string>uppayx2</string>
				<string>uppayx3</string>
			</array>
		</dict>
	</dict>
</dict>
</plist>
